<mat-toolbar>
    <img src="/assets/education.svg" style="margin: 0px 10px;">
    <span style="color: #FFFFFF;">Book Store</span>
</mat-toolbar>
<div class="layout">

    <div class="head">
        Forgot your Password?
    </div>
    <div class="container">
        
        <form #myForm="ngForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-head">
                Enter your email address and we'll send you a link to reset your password.
            </div>

            <div class="form-group">
                <mat-label>Email Id</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="email" placeholder="Email" formControlName="email">
                    <mat-error>Email is required</mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button type="submit" class="btn-primary" color="primary" [disabled]="!forgotPasswordForm.valid">Next</button>
        </form>

        <br>
        <div style="border-top: 1px solid #E4E4E4; width: 100%;">
            <button mat-flat-button class="btn" routerLink="/signup">Create Account</button>
        </div>
    </div>
</div>