mat-toolbar{
    background: #A03037 !important;
    padding: 0% 10%;
}
.search {
    flex: 1 1 auto;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    width: 90%;
  }

.mat-form-field ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 5px;
}

::ng-deep .mat-form-field-outline{
    background-color:white;
    border-radius: 5px;
}
  ::ng-deep .mat-form-field-flex {
    height: 40px !important;
    margin-top: 0px !important;
    align-items: center !important;
    justify-content: center !important;
}
input.mat-input-element {
    margin-bottom: 8px;
}

.icons{
    font-size: small;
    color: white;
    margin: 2px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.icons img{
    margin-bottom: -5px;
}
.mat-flat-button{
    line-height: 25px;
}

footer{
    display: flex;
    align-items: center;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    color: white;
    height: 50px;
    padding: 0% 10%;
}

@media (max-width: 725px) {
    mat-toolbar{
        padding: 0% 0%;
    }
    .search {
        margin-left: 5%;
        margin-right: 5%;
    }
}

