.layout{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12%;
    padding-right: 12%;
}
.bookHead{
    align-items: center; 
    margin-left: 10px;
    margin-bottom: 10px;
}
.booksCount{
    margin-top: 5px;
    margin-left: 5px;
    color: #9D9D9D;
}

.display-books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

mat-card{
    padding: 0px !important;
}

.book{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 5px;
    // box-shadow: 1px 1px 4px gray;
    border: 1px solid lightgray;
    width: 240px;
    // justify-content: space-between;
}

.book-image{
    height: 200px;
    background-color: #F5F5F5;
}

.book-details{
    padding: 10px 20px;
}
.bookName{
    letter-spacing: 0px;
    color: #0A0102;
    margin-bottom: 2px;
}
.author{
    letter-spacing: 0px;
    font-size: 13px;
    color: #878787;
    margin-bottom: 2px;

}
.rating{
    width: 33px;
    height: 16px;
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    font-size: 11px;
    color: #FFFFFF;
    margin-right: 5px;
}
.ratingCount{
    color: #878787;
    font-size: 12px;
}
.discountPrice{
    font-size: 12px;
    font-weight: 600;
    color: #0A0102;
    margin-right: 10px;
}
.actualPrice{
    font-size: 11px;
    font-weight: 600;
    text-decoration: line-through;
    letter-spacing: 0px;
    color: #878787;
}
.discount{
    color:#388E3C;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
}

.outOfStock{
    width: 178px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: -25px;
    font-size: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 0.96;
    position:absolute;
    top: 150px
}
.quickView{
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: -20px;
    color: #FFFFFF;
    font-size: 11px;
    background: #353535 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 0.71;
    position: absolute;
    top: 190px;
    opacity: 0;
}
.book:hover{
    .quickView{
        opacity: 1;
    }
    .book-image{
        opacity: 0.9;
    }
    .book-details{
        opacity: 0.9;
    }
    box-shadow: 0px 3px 6px #00000040;
    border: 1px solid #E2E2E2;
}

.buttons{
    padding: 0px 15px 10px 15px;
    
}
.bag{
    background: #A03037;  
    color: white;  
    font-size: 11px;
}
.wishlist{
    background: #333333;
    color: white;
    font-size: 11px;
}

@media (max-width: 700px) {
    .layout{
        padding-left: 0%;
        padding-right: 0%;
    }
    .display-books{
        flex-direction: column;
        justify-content: center;
    }
    
}