<div class="container">
    <img src="/assets/OrderSuccess1.PNG" width="200px">
    <span style="font-size: 24px; font-weight:500;">Order placed successfully</span>
    <img src="/assets/OrderSuccess2.PNG" width="150px">
    <span class="message">
        hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
    </span>

    <table class="table">
        <tr class="row">
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
        </tr>
        <tr class="row">
            <td>admin@bookstore.com</td>
            <td>+91 8163475881</td>
            <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                Bangalore 560034</td>
        </tr>
    </table>
    <br>
    <button mat-flat-button color="primary" routerLink="/home">Contiuue Shopping</button>

</div>