<div class="layout">
    <div fxLayout="row">
        <span class="home" routerLink="/home">Home / </span><span style="color: black; font-weight: 500;">Book({{book?.bookId | number:'2.0-0'}})</span>
    </div>

    <div class="display-book">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row">
                <img class="s-image" [src]="book?.bookImage==('string'||''||null||undefined)? defaultImage : book?.bookImage" width="30px" height="42px">
                <div class="book-image"  [style.opacity]="book?.quantity==0 ? .8 : 1">
                    <img [src]="book?.bookImage==('string'||''||null||undefined)? defaultImage : book?.bookImage" width="200px" height="270px">
                </div>
            </div>
            <span class="outOfStock" *ngIf="book?.quantity==0">OUT OF STOCK</span>
            <div fxLayoutAlign="space-between center" class="buttons">
                <button class="bag" mat-flat-button (click)="addToCart()" *ngIf="book?.quantity!=0">ADD TO BAG</button>
                <button class="bag" mat-flat-button (click)="notifyMe()" *ngIf="book?.quantity==0">NOTIFY ME</button>
                <button class="wishlist" mat-flat-button (click)="addToWishlist()"><img src="/assets/favorite_white_24dp.svg" width="18px" height="18px" style="margin-bottom: 2px;"> WISHLIST</button>
            </div>
        </div>

        <div class="book-details" fxLayout="column" fxLayoutAlign="start start">
            <h3 class="bookName">{{book?.bookName}}</h3>
            <span class="author">by {{book?.author}}</span>
            <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 15px;">
                <div class="rating" fxLayout="row" fxLayoutAlign="center center">
                    <span fxLayoutAlign="center center" style="padding-top: 2px; margin-right: 2px;">{{book?.rating}}</span>
                    <img src="/assets/star_rate.svg" width="12px">
                </div>
                <span class="ratingCount">({{book?.ratingCount | number:'2.0-0'}})</span>
            </div>
            <div fxLayout="row" style="margin-bottom: 10px;">
                <div><span class="discountPrice">Rs. {{book?.discountPrice}}</span></div>
                <div><span class="actualPrice">Rs. {{book?.actualPrice}}</span></div>
                <div><span class="discount">{{((book?.actualPrice-book?.discountPrice)/book?.actualPrice)*100 | number:'1.1-1'}}% off</span></div>
            </div>
            <mat-divider style="width: 100%;"></mat-divider>

            <div fxLayout="column" style="margin: 10px 0px;">
                <ul class="book-detail"><li>Book Detail</li></ul>
                <span class="detail">{{book?.bookDetail}}</span>
            </div>
            <mat-divider style="width: 100%;"></mat-divider>

            <h3 style="margin-top: 10px; margin-bottom: 10px">Customer Feedback</h3>
            <div (click)="myFeedback()" fxLayout="column" style="padding: 20px 30px 20px 20px; background: #e6e6e6; width: 100%; border-radius: 5px;">
                
                <h4>Overall rating</h4> 
                <div class="starContainer">
                    <input type="radio" name="rate" id="rate-1" [(ngModel)]="ratingValue" value="1">
                    <label for="rate-1"><img src="/assets/star-gray.svg" width="22px" for="rate-1" *ngIf="ratingValue<1"></label>
                    <label for="rate-1"><img src="/assets/star-yellow.svg" width="22px" for="rate-1" *ngIf="ratingValue>=1"></label>
                    
                    <input type="radio" name="rate" id="rate-2" [(ngModel)]="ratingValue" value="2">
                    <label for="rate-2"><img src="/assets/star-gray.svg" width="22px" for="rate-2" *ngIf="ratingValue<2"></label>
                    <label for="rate-2"><img src="/assets/star-yellow.svg" width="22px" for="rate-2" *ngIf="ratingValue>=2"></label>

                    <input type="radio" name="rate" id="rate-3" [(ngModel)]="ratingValue" value="3">
                    <label for="rate-3"><img src="/assets/star-gray.svg" width="22px" for="rate-3" *ngIf="ratingValue<3"></label>
                    <label for="rate-3"><img src="/assets/star-yellow.svg" width="22px" for="rate-3" *ngIf="ratingValue>=3"></label>

                    <input type="radio" name="rate" id="rate-4" [(ngModel)]="ratingValue" value="4">
                    <label for="rate-4"><img src="/assets/star-gray.svg" width="22px" for="rate-4" *ngIf="ratingValue<4"></label>
                    <label for="rate-4"><img src="/assets/star-yellow.svg" width="22px" for="rate-4" *ngIf="ratingValue>=4"></label>

                    <input type="radio" name="rate" id="rate-5" [(ngModel)]="ratingValue" value="5">
                    <label for="rate-5"><img src="/assets/star-gray.svg" width="22px" for="rate-5" *ngIf="ratingValue<5"></label>
                    <label for="rate-5"><img src="/assets/star-yellow.svg" width="22px" for="rate-5" *ngIf="ratingValue>=5"></label>
                </div>

                <textarea type="text" matInput placeholder="Write your review"  [(ngModel)]="comment" style="overflow: hidden; resize: none !important; word-wrap: break-word; 
                            padding: 5px; margin: 10px 0px; background: white; border-radius: 2px;" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="25" (click)="myFeedback()"></textarea>
                <div fxLayoutAlign="end center" style="padding: 5px 0px;">
                    <button mat-flat-button color="primary" (click)="addFeedback()">Submit</button>
                </div>
            </div>
                
            <div class="feedbackList" *ngFor="let feedback of feedbackList" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <!-- <button mat-stroked-button mat-icon-button style="font-size: 18px;">{{feedback?.fullName[0]}}</button> -->
                    <button mat-stroked-button mat-icon-button style="font-size: 18px;">{{getShortName(feedback?.fullName) }}</button>
                    <span style="margin-left: 10px; font-size: 16px;">{{feedback?.fullName}}</span>
                </div>
                <div class="review">
                    <!-- <span>Rating: {{feedback?.rating}}</span> -->
                    <div>
                        <img src="/assets/star-gray.svg" width="22px" for="rate-1" *ngIf="feedback.rating<1">
                        <img src="/assets/star-yellow.svg" width="22px" for="rate-1" *ngIf="feedback.rating>=1">
                        <img src="/assets/star-gray.svg" width="22px" for="rate-2" *ngIf="feedback.rating<2">
                        <img src="/assets/star-yellow.svg" width="22px" for="rate-2" *ngIf="feedback.rating>=2">
                        <img src="/assets/star-gray.svg" width="22px" for="rate-3" *ngIf="feedback.rating<3">
                        <img src="/assets/star-yellow.svg" width="22px" for="rate-3" *ngIf="feedback.rating>=3">
                        <img src="/assets/star-gray.svg" width="22px" for="rate-4" *ngIf="feedback.rating<4">
                        <img src="/assets/star-yellow.svg" width="22px" for="rate-4" *ngIf="feedback.rating>=4">
                        <img src="/assets/star-gray.svg" width="22px" for="rate-5" *ngIf="feedback.rating<5">
                        <img src="/assets/star-yellow.svg" width="22px" for="rate-5" *ngIf="feedback.rating>=5">
                    </div>
                    <span class="comment">{{feedback?.comment}}</span>
                </div>
            </div>

        </div>
        
    </div>
</div>