
mat-toolbar{
    background: #A03037 !important;
    padding: 0% 20%;
}
.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc((100%) - 64px);
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 424px;
    height: 275px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    box-shadow: 1px 1px 5px lightgray;
}

.head {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
    //font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
}

.form-head {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    letter-spacing: 0px;
    color: #878787;
}

::ng-deep .mat-form-field-flex {
    height: 35px !important;
    margin-top: 0px !important;
    align-items: center !important;
    justify-content: center !important;
}

input.mat-input-element {
    margin-bottom: 8px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 300px;
}
mat-form-field mat-error{
    margin-left: -10px;
} 

.btn-primary{
    width: 100%;
    padding: 2px 10px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    background-color: #A03037;
    margin-top: 10px;
}

.btn{
    padding: 2px 10px;
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    // background-color: #F5F5F5;
    background-color: transparent;
}

@media (max-width: 475px) {
    .layout{
        background: none;
    }
    .container{
        background: none;
        box-shadow: none;
        border: none;
        border-radius: 0px;
        width: 100%;
    }
    mat-toolbar{
        padding: 0% 0%;
    }
}